{% extends "base.html.twig" %}

{% block title %}
    TEST !
{% endblock %}
    
{% block body %}
    <a href="dustyourgames.com" <img src="{{ email.image('@img/inscription.png')}}" alt="email de bienvenue pour un nouvel inscrit sur le site Dust Your Games"> </a>
{% endblock %}
